<h1>Edit</h1>
<%= form_for @user do |f| %>
<%= form_for @user do |f| %>
	<%= f.label :name, 'Enter a username:' %>
  <%= f.text_field :name, placeholder: "Your name here" %><br>
  <%= f.label :name, 'Enter an email  :' %>
  <%= f.text_field :email, placeholder: "example@example.com" %><br>
  <%= f.label :name, 'Enter a password:' %>
  <%= f.text_field :password, placeholder: "Password" %><br>
  <%= f.submit "Submit" %>
<% end %>


<% end %>

<!--rubycode #form_tag('/users') /rubycode
Username: rubycode #text_field_tag 'name' /rubycode<br>
Email:rubycode #text_field_tag 'email' /rubycode<br>
Password:rubycode #text_field_tag 'password' /rubycode<br>
<input type="submit" value="Submit"> -->


 <!--
 <form action="/users" method="POST" accept-charset = "UTF-8" >
 	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  Username: <input type="text" name="user[name]"><br>
  Email: <input type="text" name="user[email]"><br>
  Password: <input type="text" name="user[password]"><br>
  <input type="submit" value="Submit">
</form> -->
